body {
    background-color: aqua;
}

h1 {
    color: white;
    background-color: orange;
    margin: 10px;
    width: 250px;
    height: 50px;
    font-size: 2em;
}

#instruction {
    color: green;
    background-color: white;
    margin: 10px;
    width: 500px;
}

#target {
    color: white;
    font-size: 3em;
    background-color: green;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
}

#scoreboard {
    background-color: blue;
    width: 200px;
    height: 150px;
    float: left;
    clear: right;
    margin: 10px;
    color: aliceblue;
}

#banner {
    clear: both;
    background-color: blueviolet;
    margin: 10px;
    width: 150px;
}

#score {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    margin: 10px;
    color: white;
    font-size: 4em;
}

img {
    width: 100px;
    height: 100px;
}

#crystals {
    clear: both;
}

.displaystatus {
    font-size: 2em;
    color: aliceblue;
}